.InformationContainer {
  width: 25%;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.informationHeader {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 7px;
  padding: 10px;
  gap: 15px;
  background: #1f075f;
  color: white;
}

.nodeManipulation {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(122, 137, 254, 0.04);
  border-radius: 10px;
  padding: 12px 20px;
  gap: 15px;
}

.createNode,
.createEdge {
  display: flex;
  gap: 5px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.formInput select,
.formInput input {
  color: #8c8fa7;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.nodeManipulation > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.informationHeader h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}


.containerRelationship,
.containerCreateNode, .nodeEdgeInformation {
  display: flex;
  flex-direction: column;
  border-radius: 17px;
  gap: 15px;
  background: rgba(31, 7, 95, 0.06);
  padding: 10px;
  border: 0.5px solid #1f075f;
  box-shadow: 0px 10px 30px rgba(122, 137, 254, 0.04);
  border-radius: 10px;
}
.titleRelationship,
.titleCreateNode {
  background: #1f075f;
  border-radius: 7px;
  color: white;
  padding: 6px;
  font-size: 18px;
  text-align: center;
  height: 33px;
  align-items: center;
  justify-content: center;
}

.elementInfo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 12px;
}

.elementInfo {
  border-bottom: 1px solid #1f075f;
}

.elementInfo:last-child {
  border-bottom: none;
}

.elementInfo h3 {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.elementInfo h4 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.elementInfo h2 {
  font-size: 16px;
  line-height: 18px;
  color: #344054;
}

.relationshipButtonContainer {
  display: flex;
  justify-content: space-evenly;
}

.relationshipButtonContainer button,
.buttonCreateNode {
  height: 32px;
  background: #ffffff;
  color: #344054;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 9px 5px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  width: 45%;
}

.buttonCreateNode {
  margin: auto;
}
.containerNumberOfNodes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.numberOfNodesLabel {
  text-align: center;
  color: #344054;
}
.createdNumberOfNodes {
  text-align: center;
  color: #000000;
}

.styleButtonsContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-top: 10px;
}
.dataContainer {
  border: 1px solid black;
  padding: 13px;
  border-radius: 5px;
}

.InformationContainer {
  overflow: auto;
}
.settingsContainer,
.layoutContainer {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(122, 137, 254, 0.04);
  border-radius: 10px;
  padding: 10px 6px;
}

.layoutContainer select {
  width: 100%;
  background: #f2f2f2;
  border-radius: 7px;
}

.layoutContainer select > option:hover {
  background-color: #1f075f !important;
}
.editButton {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-left: auto;
}

.switchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px;
  background-color: #ffff;
}
.resetStylesButton {
  background: none;
  margin: auto;
  color: #1f075f;
}

.switchTitle {
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 7px;
}

.titleContainer h3 {
  font-style: normal;
  font-weight: 400;
}
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 21px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dropdownList {
  list-style-type: none;
  height: 0px;
  transition: height 0.4s ease;
}

#dropdownActive:checked .dropdownList {
  height: 431px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: white;
  transition: 0.4s;
  top: 3px;
  left: 4px;
}

input:checked + .slider {
  background-color: #1f075f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1f075f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dropdownSettings {
  overflow: hidden;
  transition: height 0.4s ease;
}
