#download-input {
  display: none;
}

.header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.headerGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.headerGroup label {
  height: 24px;
}

.download-link {
  height: 24px;
  color: white;
  background-color: #1f075f;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  padding: 8px 12px;
}

.download-link svg{
display: block;
}
label input {
  display: none;
}
.submitButton {
  height: 50px;
}
.playerRatingContainer {
  width: 138px;
}

.difficultyModelContainer {
  width: 158px;
}
.numberOfRunsContainer {
  width: 140px;
}
.formPathContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.playerRatingContainer {
  width: 113px;
}

.lastNodeContainer,
.firstNode {
  width: 96px;
}
.buttonContainer {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

input,
select {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgb(15, 14, 14);
  padding: 10px 15px;
}
