* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}

button {
  background-color: #141414;
  border: 1px solid rgba(54, 54, 54, 0.6);
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  color: white;
  width: 130px;
  opacity: 1;
}

.mainContainer {
  display: flex;
  gap: 100px;
  width: 100%;
  justify-content: center;
}

.subtitle {
  display: inline-flex;
  margin-inline: 20px;
  align-items: center;
  flex-direction: column;
}
.buttonContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 1px solid rgba(54, 54, 54, 0.6);
  border-radius: 50px;
}
